*{
    padding: 0;
    margin: 0;
    border: 0;
}

h1{
    font-size: 3rem;
    color: #F1EFEF;
    text-shadow: 3px 3px 3px #7D7C7C;
}

h4{
    padding:1vh 0vh;
}

.h5{
    padding:1vh 0vh;
}

.top-div{
    padding: 2vh;
    padding-left: 12vh;
    background-color: black;
    
}

.Search_Bar_div{
    padding-top: 3vh;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: #D8D9DA;
}

.second-div{
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: #D8D9DA;
    
}

.second-div-1{
    padding-top: 3vh;
}

.second-div-2-1{
    padding: 3vh;
}

.second-div-1-1{
    padding: 3vh;
    background-color: white;
    border: solid 2px;
    height: 84vh;
    border-color: #7D7C7C;
}


.card-div{
    box-shadow: 6px 6px 3px #7D7C7C;
}

.category-button{
    width: 100%;
}

